.new li::after{
    content: "Новьё!"; /* Добавляемый текст */
    color: #333; /* Цвет текста */
    background-color: #fc0; /* Цвет фона */
    font-size: 90%; /* Размер шрифта */
    padding: 2px; /* Поля вокруг текста */
}