body{
    display: flex;
    background: #0effdd;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

div{
    display: flex;
    flex-wrap: wrap;
}

.fl {

    padding: 10px;
    background: gold;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;


}

.flex{

    flex-grow: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;


}

.f{
    flex-basis: auto;
    margin: 10px;
    padding: 5px;
    background: tomato;
    border-radius: 5px;
    flex-direction: row;
    align-items: stretch;



}

.flexx {

        flex-grow: 1;
    flex-direction: row;
    align-items: stretch;
 }

.ff{

    flex-basis: auto;
    margin: 10px;
    padding: 5px;
    background: tomato;
    border-radius: 5px;
    flex-direction: row;
    align-items: stretch;


}

.flexxx {

    flex-grow: 3;
    align-items: stretch;
    flex-direction: row;
}

.fff{

    flex-basis: auto;
    margin: 10px;
    padding: 5px;
    background: tomato;
    border-radius: 5px;
    flex-direction: row;
    align-items: stretch;


}

.flexxxx {

    flex-grow: 5;
    flex-direction: row;
    align-items: stretch;

}

.ffff{

    flex-basis: auto;
    margin: 10px;
    padding: 5px;
    background: tomato;
    border-radius: 5px;
    flex-direction: row;
    align-items: stretch;

}

